// Set your colors
$primary: #50767b;
$primary-invert: findColorInvert($primary);
$light: #f2ebe3;
$red: #ca6c73;
$blue: #2a324e;
$navbar-height: 65px;
$footer-height: 66px;

$main-grid: '. content .' auto / 1fr minmax(100px, 970px) 1fr;

$bp-m: only screen and
  (
    min-width: 572px
  );
$bp-l: only screen and
  (
    min-width: 970px
  );
$bp-xl: only screen and
  (
    min-width: 1200px
  );

body {
  background-color: $light;
  margin: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button {
    font-family: 'Dosis', sans-serif;
    color: $primary;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: $primary;
  }
  button {
    cursor: pointer;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
